#side-bar{
    min-height: 100%;
    border: none;    
    top:0;
    left:0;
  }
.menu-btn{
    display: none;
}
@media (max-width: 768px) {
    /* styles */
    #side-bar{
        display: none;
        position:fixed;
        z-index: 999;
    }
    
    .menu-btn{
        color:black;
        background: transparent;
        border:none;
        display: inline-block;
    }
}